/* Write your CSS here */
.project-image {
  height: 50%;
  width: 100%;
}
.calender-duration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;

  margin-left: 30px;
}
.calender-para {
  padding-left: 3px;
  padding-bottom: 2px;
  font-weight: bold;
}
.project-title-duration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}
@media all and (max-width: 767px) {
  .project-title-duration {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .calender-duration {
    margin-left: 0px;
  }
  .calender-para {
    padding-left: 0px;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 98%;
}
.anchor-element {
  font-weight: bold;
  color: #0967d2;
  text-decoration: none;
}
